# Refl1d/Bumps specific
.mplconfig
/doc/_build/
/doc/api/
/doc/tutorial/
/refl1d-*
/bumps-*
/Refl1D.pdf

# Build
*.so
__pycache__/
*.py[cod]
/build/
/dist/
/*.egg-info/
/EGG-INFO
/.eggs

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# Test droppings
.coverage
.pytest_cache

# Editor droppings
.settings
.ipynb_checkpoints
.project
.pydevproject
.spyderproject
.idea
*.swp
*.bak
