# Refl1d/Bumps specific
.mplconfig
.project
.pydevproject
.spyderproject
.idea
*.pyd
*.pyc
**/__pycache__/
**/node_modules/
/refl1d/webview/client/dist/
*.swp
*.so
*.bak
refl1d-webview-client*.tgz
/build/
/dist/
/refl1d.egg-info/
/EGG-INFO
/doc/_build/
/doc/api/
/doc/tutorial/
/refl1d-*
/bumps-*
/Refl1D.pdf
/output-*
test-files/

# Build
*.so
__pycache__/
*.py[cod]
/build/
/dist/
/*.egg-info/
/EGG-INFO
/.eggs
refl1d/_version.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# Test droppings
.coverage
.pytest_cache

# Editor droppings
.settings
.ipynb_checkpoints
.project
.pydevproject
.spyderproject
.idea
*.swp
*.bak

test-files/
