repos:
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend-lint
        entry: bash -c "cd refl1d/webview/client && npm run lint || bun run lint || exit 1"
        language: system
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=8192]
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      # - id: end-of-file-fixer
      # - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      # - id: ruff
      #   args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

ci:
  autoupdate_schedule: monthly
  skip: [frontend-lint]
