repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd refl1d/webview/client && if command -v bun >/dev/null 2>&1; then bun run lint; elif command -v npm >/dev/null 2>&1; then npm run lint; else echo "Need bun or npm to run lint" >&2; exit 1; fi'
        language: system
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=8192]
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      # - id: end-of-file-fixer
      # - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      # - id: ruff
      #   args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

ci:
  autoupdate_schedule: monthly
  skip: [eslint]
