# The purpose of this file is to modify the list of files to include/exclude in
# the source archive created by the 'python setup.py sdist' command.  Executing
# setup.py in the top level directory creates a default list (or manifest) and
# the directives in this file add or subtract files from the resulting MANIFEST
# file that drives the creation of the archive.
#
# Note: apparently due to a bug in setup, you cannot include a file whose name
# starts with 'build' as in 'build_everything.py'.

# Add files to the archive in addition to those that are installed by running
# 'python setup.py install'.  Typically these extra files are build related.
include MANIFEST.in  # this file
recursive-include refl1d/lib/c *.h *.c *.cc
recursive-include refl1d/webview/client/dist *.html *.js *.css *.svg *.png
recursive-include refl1d/webview/client/src *.html *.js *.mjs *.css *.svg *.png *.ts *.vue
include refl1d/webview/client/*.html
include refl1d/webview/client/*.js
include refl1d/webview/client/*.json
include refl1d/webview/client/*.txt
include extra/*.svg extra/*.png
include refl1d/validation/*.f
# Delete files
# ex. prune this that
prune refl1d/webview/client/node_modules
