# The purpose of this file is to modify the list of files to include/exclude in
# the source archive created by the 'python setup.py sdist' command.  Executing
# setup.py in the top level directory creates a default list (or manifest) and
# the directives in this file add or subtract files from the resulting MANIFEST
# file that drives the creation of the archive.
#
# Note: apparently due to a bug in setup, you cannot include a file whose name
# starts with 'build' as in 'build_everything.py'.

# Add files that are not required to run or use the application.
#include master_builder.py

# Delete files
#prune this that
