name: Build conda-packed distribution

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  branch_name: master

jobs:
  test_and_build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - { os: ubuntu-latest, py: 3.11 }
          - { os: windows-latest, py: "3.11" }
          - { os: macos-latest, py: "3.11" }
          - { os: macos-13, py: "3.11" }
          # all using to stable abi

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ env.branch_name }}

    - uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.config.py }}
        shell: bash

    - name: Build conda-packed (all platforms)
      shell: bash -el {0}
      run: |
        conda activate base
        ./extra/build_conda_packed.sh
        ls artifacts/*
        {
          echo 'DISTRIBUTABLES<<EOF'
          ls artifacts/*
          echo EOF
        } >> "$GITHUB_ENV"

    - name: Update release assets and text
      uses: actions/github-script@v7
      env:
        SEARCH_PATTERN: "artifacts/*"
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const script = require('./.github/actions/update_unstable.js');
          const output = await script({github, context, glob});
          console.log(output);

    - name: Update current release
      if: startsWith(github.ref, 'refs/tags')
      uses: johnwbyrd/update-release@v1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          ${{ env.DISTRIBUTABLES }}
