name: Test Refl1D

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  test_and_build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - { os: ubuntu-latest, py: 3.9 }
          - { os: ubuntu-latest, py: "3.10" }
          - { os: ubuntu-latest, py: "3.11" }
          - { os: ubuntu-latest, py: "3.12", doc: 1, whl: 1 }
          - { os: ubuntu-latest, py: "3.13" }
          - { os: windows-latest, py: "3.12", whl: 1 }
          - { os: macos-latest, py: "3.12" }

          # pure python wheels

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
  
      - name: Set up Python ${{ matrix.config.py }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.config.py }}

      - name: Install the project
        run: |
          uv sync --extra dev --dev
          uv build

      - name: Run tests
        run: |
          uv run python -m pytest -v
          uv run python check_examples.py --chisq
        shell: bash
        env:
          MPLBACKEND: agg

      - name: Check that the docs build (linux only)
        if: matrix.config.doc == 1
        run: |
          sudo apt-get install -y pandoc
          source .venv/bin/activate
          make -j 4 -C doc SPHINXOPTS="-W --keep-going" html
