name: Build_Unstable

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ published ]

jobs:
  test_and_build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          #- { os: ubuntu-latest, py: 3.8, doc: 1 }
          - { os: windows-latest, py: 3.8, exe: 1, whl: 1 }
          #- { os: macos-latest, py: 3.8, whl: 1 }
          # all using to stable abi

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.config.py }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.config.py }}

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel setuptools
        python -m pip install numpy scipy matplotlib periodictable scikit-learn pytest pytest-cov numba
        pip install git+https://github.com/bumps/bumps.git
        python setup.py build
        mkdir unstable

    - name: Run tests
      run: |
        pytest -v
        python check_examples.py --chisq
      env:
        MPLBACKEND: agg

    - name: Build binary wheel
      run: |
        python setup.py bdist_wheel

    - name: Build source distribution
      run: |
        python setup.py sdist --formats=zip
        mv dist\*.zip unstable\Refl1D-latest-source.zip

    - name: Build installer
      run: |
        pwsh -command ".\$GITHUB_WORKSPACE\extra\build_win_installer_unstable.ps1"
        mv dist\Refl1D*.zip unstable\Refl1D-windows-exe-latest.zip

    # See the following for how to upload to a release
    #  https://eugene-babichenko.github.io/blog/2020/05/09/github-actions-cross-platform-auto-releases/
    - name: Archive artifacts
      uses: actions/upload-artifact@v3
      with:
        name: artifacts
        path: |
          unstable/*

  publish:
    needs: test_and_build
    runs-on: ubuntu-latest
    steps:
    - name: Retrieve all artifacts
      uses: actions/download-artifact@v3
      with:
        name: artifacts

    - name: show files
      run: |
        ls * -l

    - name: Update unstable release
      uses: johnwbyrd/update-release@v1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        release: unstable
        tag: sid
        files: Refl1D-windows-exe-latest.zip Refl1D-latest-source.zip

  updateUnstableText:
    needs: publish
    runs-on: ubuntu-latest
    steps:
    - name: Show last updated
      uses: actions/github-script@v6
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}          
        script: |
          let sid_release = await github.rest.repos.getReleaseByTag({
            owner: context.repo.owner,
            repo: context.repo.repo,
            tag: "sid"
          });
          await github.rest.repos.updateRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            release_id: sid_release.data.id,
            body: "A persistent prerelease where build artifacts for the current tip will be deposited\n\n## Last updated: " + (new Date()).toDateString()
          });
